<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="Mohaiminul Islam Bhuiyan">
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico" id="favicon"> -->
    <link rel="icon" href="https://infancyit.com/favicon.png" id="favicon">
    <title>AppLand</title>
    <!-- static css load -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/GrayGrids/LineIcons/LineIcons.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/nivo-lightbox.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsive.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but appland doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- static js load -->
    <script src="/js/jquery-min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.js"></script> 
    <script src="/js/jquery.mixitup.js"></script>       
    <script src="/js/jquery.nav.js"></script>    
    <script src="/js/scrolling-nav.js"></script>    
    <script src="/js/jquery.easing.min.js"></script>     
    <script src="/js/wow.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>     
    <script src="/js/nivo-lightbox.js"></script>     
    <script src="/js/jquery.magnific-popup.min.js"></script> 
    <script src="/js/waypoints.min.js"></script>      
    <script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>   
    <script src="/js/vibrant.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
