<template>
  <div class="appDetails">
    <b-container>
      <app-jumbo
        :title="app.title"
        :photoLink="app.icon"
        :genres="app.genres"
        :description="app.description"
        :storeUrl="app.url"
        :relNotes="app.releaseNotes"
        :releaseDate="app.released"
        :updateDate="app.updated"
      ></app-jumbo>
      <app-screenshots :links="app.screenshots"></app-screenshots>
      <feature-list-form :appid="app.id"></feature-list-form>
      <video-form :appid="app.id"></video-form>
      <app-link-fab :appid="app.id"></app-link-fab>
    </b-container>
  </div>
</template>

<script>
import AppJumbo from "@/components/AppJumbo.vue";
import AppScreenshots from "@/components/AppScreenshots.vue";
import FeatureListForm from "@/components/FeatureListForm.vue";
import VideoForm from "@/components/VideoForm.vue";
import AppLinkFab from "@/components/AppLinkFab.vue";

export default {
  name: "AppDetails",
  components: {
    AppJumbo,
    AppScreenshots,
    FeatureListForm,
    VideoForm,
    AppLinkFab
  },
  props: ["app"],
  mounted() {
    window.scrollTo(0, 0);
    if (this.app == undefined) {
      this.$router.replace("/home");
    }
  }
};
</script>
