<template>
  <div id="landingApps">
    <header id="home" class="hero-area-2">
      <div class="overlay"></div>
      <front-nav :showLinks="false"></front-nav>
      <apps-jumbo :apps="this.apps"></apps-jumbo>
    </header>
    <front-footer></front-footer>
    <front-preloader v-if="showLoader"></front-preloader>
  </div>
</template>

<script>
//components
import FrontNav from "@/components/front/FrontNav.vue";
import AppsJumbo from "@/components/front/AppsJumbo.vue";
import FrontFooter from "@/components/front/FrontFooter.vue";
import FrontPreloader from "@/components/front/FrontPreloader.vue";

import firebase from "firebase";

export default {
  name: "FrontApps",
  components: {
    FrontNav,
    AppsJumbo,
    FrontFooter,
    FrontPreloader
  },
  data() {
    return {
      apps: {},
      showLoader: false
    };
  },
  created() {
    this.showLoader = true;
    firebase
      .database()
      .ref("apps/")
      .on("value", snapshot => {
        // console.log(snapshot.val());
        this.apps = snapshot.val();
        this.showLoader = false;
      });
  }
};
</script>
