<template>
  <div id="landing">
    <header id="home" class="hero-area-2">
      <div class="overlay" v-bind:style="{ backgroundImage: bgGradient }"></div>
      <front-nav :showLinks="true"></front-nav>
      <first-jumbo
        :appName="app.title"
        :appDesc="app.description"
        :appIcon="app.icon"
        :appLink="app.url"
      ></first-jumbo>
    </header>
    <app-features
      :appId="appId"
      :imageUrl="app.icon"
      :tGrad="textGradient"
      :tColor="fgColor"
    ></app-features>
    <video-promo
      v-if="hasVidLink"
      :link="vidLink"
      :bgGrad="bgGradient"
    ></video-promo>
    <screenshots :images="app.screenshots" :tGrad="textGradient"></screenshots>
    <team :tGrad="textGradient" :bGrad="bgGradient"></team>
    <!-- <testimonial></testimonial> -->
    <download
      :downLink="app.url"
      :appIcon="app.icon"
      :appName="app.title"
      :btnGrad="btnGradient"
    ></download>
    <g-map></g-map>
    <contact :tGrad="textGradient" :btnGrad="btnGradient"></contact>
    <front-footer :bgGrad="bgGradient"></front-footer>
    <front-preloader v-if="showLoader"></front-preloader>
  </div>
</template>

<script>
//components
import FrontNav from "@/components/front/FrontNav.vue";
import FirstJumbo from "@/components/front/FirstJumbo.vue";
import AppFeatures from "@/components/front/AppFeatures.vue";
import VideoPromo from "@/components/front/VideoPromo.vue";
import Screenshots from "@/components/front/Screenshots.vue";
import Team from "@/components/front/Team.vue";
// import Testimonial from "@/components/front/Testimonial.vue";
import Download from "@/components/front/Download.vue";
import GMap from "@/components/front/Map.vue";
import Contact from "@/components/front/Contact.vue";
import FrontFooter from "@/components/front/FrontFooter.vue";
import FrontPreloader from "@/components/front/FrontPreloader.vue";

import firebase from "firebase";

export default {
  name: "FrontLand",
  components: {
    FrontNav,
    FirstJumbo,
    AppFeatures,
    VideoPromo,
    Screenshots,
    Team,
    // Testimonial,
    Download,
    GMap,
    Contact,
    FrontFooter,
    FrontPreloader
  },
  data() {
    return {
      app: {},
      vidLink: "",
      showLoader: false,
      bgColor: "",
      fgColor: ""
    };
  },
  computed: {
    appId() {
      return this.$route.params.appleid ? this.$route.params.appleid : "";
    },
    hasVidLink() {
      return this.vidLink == "" || this.vidLink == undefined ? false : true;
    },
    bgGradient() {
      return (
        "-webkit-linear-gradient(0deg, " +
        this.fgColor +
        " 0%, " +
        this.bgColor +
        " 100%)"
      );
    },
    textGradient() {
      return (
        "linear-gradient(to top left, " +
        this.fgColor +
        ", " +
        this.bgColor +
        ")"
      );
    },
    btnGradient() {
      return (
        "linear-gradient(to right, " +
        this.fgColor +
        " 0%, " +
        this.bgColor +
        " 100%)"
      );
    }
  },
  created() {
    this.showLoader = true;
    firebase
      .database()
      .ref("apps/")
      .on("value", snapshot => {
        // console.log(snapshot.val());
        var apps = snapshot.val();
        if (apps.hasOwnProperty(this.appId)) {
          console.log("Matched");
          this.app = apps[this.appId];
          this.setDocTitleFrom(this.app.title);
          this.changeFavicon(this.app.icon);
          this.showLoader = false;
        } else {
          this.showLoader = false;
          this.$router.replace("/oops");
        }
      });
    firebase
      .database()
      .ref("PromoLinks/")
      .on("value", snapshot => {
        var vidLinks = snapshot.val();
        if (vidLinks.hasOwnProperty(this.appId)) {
          this.vidLink = vidLinks[this.appId].url;
        }
      });

    firebase
      .database()
      .ref("colors/" + this.appId)
      .on("value", snapshot => {
        const appColors = snapshot.val();
        if (appColors.status.type == "success") {
          console.log("Success fetching color");
          let bgColors = appColors.result.colors.image_colors[0];
          if (bgColors) {
            this.bgColor = bgColors.html_code;
          }
          let fgColors = appColors.result.colors.image_colors[1];
          if (fgColors) {
            this.fgColor = fgColors.html_code;
          }
        }
        console.log("Fetched Colors : ", this.bgColor, this.fgColor);
      });
  },
  mounted() {
    window.scrollTo(0, 0);
  },
  destroyed() {
    this.changeFavicon("https://infancyit.com/favicon.png");
  },
  methods: {
    setDocTitleFrom(appTitle) {
      document.title = appTitle; //'InfancyIT - ' + appTitle;
    },
    changeFavicon(src) {
      var link = document.createElement("link"),
        oldLink = document.getElementById("favicon");
      link.id = "favicon";
      link.rel = "icon";
      link.href = src;
      if (oldLink) {
        document.head.removeChild(oldLink);
      }
      document.head.appendChild(link);
    }
  }
};
</script>
