<template>
  <div class="home">
    <add-app></add-app>
    <app-cards></app-cards>
  </div>
</template>

<script>
import AppCards from "@/components/AppCards.vue";
import AddApp from "@/components/AddApp.vue";

export default {
  name: "home",
  components: {
    AppCards,
    AddApp
  },
  methods: {}
};
</script>
