<template>
  <div class="member-details p-4">
    <b-card header="Member Details" align="left">
      <div class="card-text">
        <b-form class="mb-4" @submit="onSubmit">
          <b-form-group id="nameInputGroup" label="Name:" label-for="nameField">
            <b-form-input
              id="nameField"
              type="text"
              v-model="member.name"
              required
              placeholder="Enter name"
            >
            </b-form-input>
          </b-form-group>
          <b-form-group
            id="designationInputGroup"
            label="Designation:"
            label-for="designationField"
          >
            <b-form-input
              id="designationField"
              type="text"
              v-model="member.designation"
              required
              placeholder="Enter designation"
              align="left"
            >
            </b-form-input>
          </b-form-group>
          <b-form-group
            id="mailInputGroup"
            label="Gravatar Mail:"
            label-for="mailField"
          >
            <b-form-input
              id="mailField"
              type="text"
              v-model="member.gravatarMail"
              required
              placeholder="Enter gravatar mail for image"
              align="left"
            >
            </b-form-input>
          </b-form-group>
          <b-form-group
            id="fbInputGroup"
            label="Facebook Link:"
            label-for="fbField"
          >
            <b-form-input
              id="fbField"
              type="text"
              v-model="member.facebookLink"
              required
              placeholder="Enter facebook link"
              align="left"
            >
            </b-form-input>
          </b-form-group>
          <b-form-group
            id="liInputGroup"
            label="Linked In Link:"
            label-for="liField"
          >
            <b-form-input
              id="liField"
              type="text"
              v-model="member.linkedinLink"
              required
              placeholder="Enter linkedin link"
              align="left"
            >
            </b-form-input>
          </b-form-group>
          <b-form-group
            id="mediumInputGroup"
            label="Medium Link:"
            label-for="mediumField"
          >
            <b-form-input
              id="mediumField"
              type="text"
              v-model="member.mediumLink"
              required
              placeholder="Enter medium link"
              align="left"
            >
            </b-form-input>
          </b-form-group>
          <!-- <b-form-group id="exampleGroup4">
            <b-form-checkbox-group v-model="form.checked" id="exampleChecks">
              <b-form-checkbox value="me">Check me out</b-form-checkbox>
              <b-form-checkbox value="that">Check that out</b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group> -->
          <b-button v-if="isUpdating" type="submit" variant="primary"
            >Update Info</b-button
          >
          <b-button v-else type="submit" variant="success">Add Member</b-button>
        </b-form>
      </div>
    </b-card>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  name: "MemberDetails",
  props: ["memberId"],
  computed: {
    isUpdating() {
      return this.memberId == "" ? false : true;
    }
  },
  mounted() {
    if (this.memberId == undefined) {
      this.$router.replace("/team");
    } else if (this.memberId != "") {
      firebase
        .database()
        .ref("Team/" + this.memberId)
        .on("value", snapshot => {
          this.member = snapshot.val();
        });
    }
  },
  data() {
    return {
      member: {}
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      if (confirm(this.isUpdating ? "Update Member?" : "Add New Member?")) {
        if (this.isUpdating) {
          firebase
            .database()
            .ref("Team/" + this.memberId)
            .set(this.member);
        } else {
          firebase
            .database()
            .ref("Team/")
            .push()
            .set(this.member);
        }
        this.$toasted.show(
          this.isUpdating ? "Member Updated!" : "Member Added!",
          { type: "success" }
        );
        this.$router.replace("/team");
      }
    }
  }
};
</script>
