<template>
  <div class="sign-up">
    <p>Let's create an account</p>
    <input type="text" placeholder="Enter your e-mail" v-model="email" /><br />
    <input
      type="password"
      placeholder="Enter password"
      v-model="password"
    /><br />
    <button @click="signUp">Sign Up</button>
    <span>or go back to <router-link to="/login">login</router-link>.</span>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  name: "signUp",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    signUp: function() {
      this.$Progress.start();
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.email, this.password)
        .then(
          user => {
            console.log("User " + user.email + " logged in!");
            console.log("UID " + user.uid);
            this.$Progress.finish();
            this.$router.replace("home");
          },
          err => {
            this.$Progress.finish();
            alert("Oops! " + err.message);
          }
        );
    }
  }
};
</script>

<style scoped>
.sign-up {
  margin-top: 40px;
}

input {
  margin: 10px 0;
  width: 20%;
  padding: 15px;
}

button {
  margin-top: 20px;
  width: 15%;
  padding: 10px;
  cursor: pointer;
}

span {
  display: block;
  margin-top: 40px;
  font-size: 13px;
}
</style>
