<template>
  <div class="team">
    <b-container fluid>
      <team-members></team-members>
    </b-container>
  </div>
</template>

<script>
import TeamMembers from "@/components/TeamMembers.vue";

export default {
  name: "Team",
  components: {
    TeamMembers
  }
};
</script>
