<template>
  <div id="app-features" class="section">
    <div class="container">
      <div class="section-header">
        <h2
          class="section-title wow fadeInDown"
          data-wow-delay="0.2s"
          v-bind:style="{ backgroundImage: tGrad }"
        >
          Amazing Features
        </h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 col-xs-12">
          <div class="content-left text-right feature-container-left">
            <div
              v-for="feature in leftFeatures"
              :key="feature"
              class="box-item left px-4 wow fadeInLeft"
            >
              <span class="icon" v-bind:style="{ backgroundImage: tGrad }">
                <i class="lni-bolt"></i>
              </span>
              <div class="text" v-bind:style="{ color: tColor }">
                <h6>{{ feature }}</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12">
          <div class="show-box">
            <img class="middle-image" :src="imageUrl" alt="" />
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12">
          <div class="content-right text-left feature-container-right">
            <div
              v-for="feature in rightFeatures"
              :key="feature"
              class="box-item right px-4 wow fadeInRight"
            >
              <span class="icon" v-bind:style="{ backgroundImage: tGrad }">
                <i class="lni-bolt"></i>
              </span>
              <div class="text" v-bind:style="{ color: tColor }">
                <h6>{{ feature }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.feature-container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-overflow: ellipsis;
}

.feature-container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-overflow: ellipsis;
}

.feature-text {
  font-size: 3rem;
}

.middle-image {
  width: 50%;
  align-items: center;
  border-radius: 20%;
}
</style>

<script>
import firebase from "firebase";

export default {
  name: "AppFeatures",
  props: {
    appId: {},
    imageUrl: {},
    tGrad: {},
    tColor: {}
  },
  data() {
    return {
      leftFeatures: [],
      rightFeatures: []
    };
  },
  created() {
    firebase
      .database()
      .ref("/features/" + this.appId)
      .on("value", snapshot => {
        console.log("Features Loaded!");
        var features = [];
        snapshot.forEach(child => {
          var item = child.val();
          features.push(item);
        });
        // console.log(features);

        var templeft = [];
        var tempright = [];
        features.forEach((feature, index) => {
          if (index % 2) {
            tempright.push(feature);
          } else {
            templeft.push(feature);
          }
        });
        // console.log(templeft);
        // console.log(tempright);
        this.leftFeatures = templeft;
        this.rightFeatures = tempright;
      });
  }
};
</script>
