<template>
  <div class="container">
    <div v-for="app in apps" :key="app.id" class="row space-100">
      <div class="col-lg-5 col-md-12 col-xs-12">
        <div class="intro-img">
          <img class="ml-4 round-shadow" :src="app.icon" :alt="app.title" />
        </div>
      </div>
      <div class="col-lg-7 col-md-12 col-xs-12">
        <div class="contents">
          <h2 class="head-title">{{ app.title }}</h2>
          <p>{{ shortDesc(app.description) }}</p>
          <div class="header-button">
            <b-link
              :to="{ name: 'FrontLand', params: { appleid: app.id } }"
              class="btn btn-border"
              >Learn More</b-link
            >
            <a :href="app.url" target="_blank" class="btn btn-border"
              >Check in appstore</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.round-shadow {
  border-radius: 20%;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.hero-area-2 .infancy-img {
  padding: 0px;
}
</style>

<script>
export default {
  name: "AppsJumbo",
  props: {
    apps: {}
  },
  methods: {
    shortDesc(desc) {
      var temp = desc.substring(0, 650);
      temp = temp.substring(0, temp.lastIndexOf(" ")) + "...";
      return temp;
    },
    genreStr(genres) {
      return genres.join(", ");
    }
  }
};
</script>
