<template>
  <section id="contact">
    <div class="contact-form">
      <div class="container">
        <div class="row justify-content-center">
          <div class="mt-4">
            <div class="col-lg-12 col-md-12 col-xs-12">
              <div class="contact-block wow fadeInUp" data-wow-delay="0.2s">
                <div class="section-header">
                  <h2
                    class="section-title"
                    v-bind:style="{ backgroundImage: tGrad }"
                  >
                    Love to Hear From You
                  </h2>
                </div>
                <form id="contactForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          name="name"
                          placeholder="Name"
                          required
                          data-error="Please enter your name"
                          v-model="feedback.name"
                        />
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input
                          type="text"
                          placeholder="Email"
                          id="email"
                          class="form-control"
                          name="email"
                          required
                          data-error="Please enter your email"
                          v-model="feedback.email"
                        />
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="text"
                          placeholder="Subject"
                          id="msg_subject"
                          class="form-control"
                          required=""
                          data-error="Please enter your subject"
                          v-model="feedback.subject"
                        />
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea
                          class="form-control"
                          id="message"
                          placeholder="Message"
                          rows="7"
                          data-error="Write your message"
                          required
                          v-model="feedback.message"
                        ></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                      <div class="submit-button">
                        <button
                          :disabled="isIncomplete"
                          class="btn btn-common btn-effect"
                          id="submit"
                          @click.prevent="sendFeedback"
                          v-bind:style="{ backgroundImage: btnGrad }"
                        >
                          Submit
                        </button>
                        <!-- <div id="msgSubmit" class="h3 hidden"></div> -->
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import firebase from "firebase";

export default {
  name: "Contact",
  props: {
    tGrad: {},
    btnGrad: {}
  },
  data() {
    return {
      feedback: {
        name: "",
        email: "",
        subject: "",
        message: ""
      }
    };
  },
  computed: {
    isIncomplete() {
      return (
        this.feedback.name == "" ||
        this.feedback.email == "" ||
        this.feedback.subject == "" ||
        this.feedback.message == ""
      );
    }
  },
  methods: {
    sendFeedback() {
      this.feedback.created = new Date().toISOString();
      firebase
        .database()
        .ref("feedbacks/")
        .push()
        .set(this.feedback);
      this.$toasted.show("Feedback received! Thanks for your response.", {
        type: "success"
      });
    }
  }
};
</script>
