<template>
  <section id="download">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
          <div class="download-thumb wow fadeInLeft" data-wow-delay="0.2s">
            <img
              class="mt-0 mb-5 icon-image img-fluid"
              :src="appIcon"
              :alt="appName"
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
          <div class="download-wrapper wow fadeInRight" data-wow-delay="0.2s">
            <div>
              <div class="download-text">
                <h4>Download App</h4>
                <p>
                  Download Our App From AppStore!
                </p>
              </div>
              <!-- <a href="#" class="btn btn-common btn-effect"
                ><i class="lni-android"></i> From PlayStore<br
              /></a> -->
              <a
                :href="downLink"
                class="btn btn-apple"
                v-bind:style="{ backgroundImage: btnGrad, color: 'black' }"
                ><i
                  v-bind:style="{ backgroundImage: btnGrad }"
                  class="lni-apple"
                ></i>
                Download<br
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Download",
  props: {
    downLink: {},
    appIcon: {},
    appName: {},
    btnGrad: {}
  }
};
</script>

<style scoped>
.icon-image {
  width: 50%;
}
</style>
