<template>
  <div class="container">
    <div class="row space-100">
      <div class="col-lg-7 col-md-12 col-xs-12">
        <div class="contents">
          <h2 class="head-title">{{ appName }}</h2>
          <p>{{ shortDesc }}</p>
          <div class="header-button">
            <a :href="appLink" target="_blank" class="btn btn-border"
              >Learn More</a
            >
            <b-link :to="{ name: 'FrontApps' }" class="btn btn-border"
              >All apps</b-link
            >
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-xs-12">
        <div class="intro-img">
          <img class="ml-4 mb-2 image-circled" :src="appIcon" :alt="appName" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "FirstJumbo",
  props: {
    appName: {},
    appDesc: {},
    appIcon: {},
    appLink: {}
  },
  computed: {
    shortDesc() {
      var temp = this.appDesc.substring(0, 500);
      temp = temp.substring(0, temp.lastIndexOf(" ")) + "...";
      return temp;
    }
  }
};
</script>

<style scoped>
.image-circled {
  border-radius: 20%;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
</style>
