<template>
  <nav class="navbar navbar-expand-md bg-transparent scrolling-navbar">
    <div class="container">
      <a href="#" class="navbar-brand"
        ><img
          class="brand-icon"
          src="https://infancyit.com/img/logo.svg"
          alt="infancyit"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="lni-menu"></i>
      </button>
      <div
        v-if="showLinks"
        class="collapse navbar-collapse"
        id="navbarCollapse"
      >
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#app-features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#screenshots">Screenshots</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#download">Download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <div v-else>
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#"
              >Published Apps by Our Team</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "FrontNav",
  props: {
    showLinks: {}
  }
};
</script>

<style scoped>
.brand-icon {
  width: 85px;
  /* border-radius: 50%; */
}
</style>
