<template>
  <footer>
    <!-- Footer Area Start -->
    <section class="footer-Content" v-bind:style="{ backgroundImage: bgGrad }">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
            <img
              class="company-logo"
              src="https://infancyit.com/img/logo.svg"
              alt="infancyit"
            />
            <div class="textwidget">
              <p>
                <q
                  >The people who are crazy enough to think they can change the
                  world are the ones who do</q
                >
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
            <div class="widget">
              <h3 class="block-title">The Company</h3>
              <ul class="menu">
                <li><a href="https://infancyit.com/about">About Us</a></li>
                <li>
                  <a href="https://infancyit.com/">Get to know us better</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
            <div class="widget">
              <h3 class="block-title">Our Services</h3>
              <ul class="menu">
                <li>
                  <a
                    href="https://infancyit.com/service/enterprise-software-development"
                    >Enterprise Software Development</a
                  >
                </li>
                <li>
                  <a
                    href="https://infancyit.com/service/web-application-development"
                    >Web Application Development</a
                  >
                </li>
                <li>
                  <a
                    href="https://infancyit.com/service/mobile-application-development"
                    >Mobile Application Development</a
                  >
                </li>
                <li>
                  <a href="https://infancyit.com/service/software-consultancy"
                    >Software Consultancy</a
                  >
                </li>
                <li>
                  <a
                    href="https://infancyit.com/service/server-setup-and-maintenance"
                    >Server Setup & Maintenance</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
            <div class="widget">
              <h3 class="block-title">Support</h3>
              <ul class="menu">
                <li><a href="#">Terms & Condition</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="https://infancyit.com/contact">Help</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright Start  -->
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="site-info float-left">
                <p>
                  &copy; 2019 - Designed by
                  <a href="https://www.facebook.com/shreadminion" rel="nofollow"
                    >Mohaiminul Islam Bhuiyan</a
                  >
                </p>
              </div>
              <div class="float-right">
                <ul class="footer-social">
                  <li>
                    <a
                      class="facebook"
                      href="https://www.facebook.com/shreadminion"
                      ><i class="lni-facebook-filled"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      class="twitter"
                      href="https://www.instagram.com/shreadminion/"
                      ><i class="lni-instagram-filled"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      class="linkedin"
                      href="https://www.linkedin.com/in/mohaiminul-islam-46270b101/"
                      ><i class="lni-linkedin-filled"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright End -->
    </section>
    <!-- Footer area End -->
  </footer>
</template>

<script>
export default {
  name: "FrontFooter",
  props: {
    bgGrad: {}
  }
};
</script>

<style scoped>
.company-logo {
  width: 50%;
}
</style>
