<template>
  <section id="map-area" class="google-map-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 padding-0">
          <object
            class="map-container"
            data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3618.6839109617713!2d91.83593101470255!3d24.908761284031204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3750555bc74c8619%3A0x8cb6e42cc4b1bc9d!2sInfancyIT!5e0!3m2!1sen!2sbd!4v1549317309697"
          ></object>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "GMap"
};
</script>

<style scoped>
.map-container {
  border: 0;
  width: 100%;
  height: 450px;
}
</style>
