<template>
  <section id="screenshots" class="screens-shot section">
    <div class="container">
      <div class="section-header">
        <!-- <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">
          Screenshots
        </p> -->
        <h2
          class="section-title wow fadeInDown"
          data-wow-delay="0.2s"
          v-bind:style="{ backgroundImage: tGrad }"
        >
          App Screens
        </h2>
      </div>
      <!-- <div class="row">
        
      </div> -->
      <b-card-group class="deck" deck>
        <b-card
          v-for="image in images"
          :key="image"
          overlay
          :img-src="image"
          img-top
          class="mb-2 wow fadeInLeftBig"
          title=""
          sub-title=""
        >
        </b-card>
      </b-card-group>
    </div>
  </section>
</template>

<script>
export default {
  name: "Screenshots",
  props: {
    images: {},
    tGrad: {}
  }
};
</script>
