<template>
  <section id="team" class="section">
    <div class="container">
      <div class="section-header">
        <!-- <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">
          Team
        </p> -->
        <h2
          class="section-title wow fadeInDown"
          data-wow-delay="0.2s"
          v-bind:style="{ backgroundImage: tGrad }"
        >
          Our Expert Team
        </h2>
      </div>
      <div class="row">
        <div
          v-for="member in members"
          :key="member.gravatarMail"
          class="col-lg-3 col-md-6 col-xs-12"
        >
          <div class="single-team wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-thumb">
              <v-gravatar :email="member.gravatarMail" :size="gravatarSize" />
              <ul class="social-list" v-bind:style="{ backgroundImage: bGrad }">
                <li class="facebook">
                  <a :href="member.facebookLink"
                    ><i class="lni-facebook"></i
                  ></a>
                </li>
                <li class="linkedin">
                  <a :href="member.linkedinLink"
                    ><i class="lni-linkedin"></i
                  ></a>
                </li>
                <li class="twitter">
                  <a :href="member.mediumLink"><i class="lni-medium"></i></a>
                </li>
              </ul>
            </div>
            <div class="team-details">
              <div class="team-inner">
                <h4 class="team-title">{{ member.name }}</h4>
                <p>{{ member.designation }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import firebase from "firebase";

export default {
  name: "Team",
  props: {
    tGrad: {},
    bGrad: {}
  },
  data() {
    return {
      members: [],
      gravatarSize: 263
    };
  },
  mounted() {
    firebase
      .database()
      .ref("Team/")
      .on("value", snapshot => {
        // console.log(snapshot.val());
        var temp = [];
        snapshot.forEach(child => {
          var item = child.val();
          temp.push(item);
        });
        // console.log(temp);
        this.members = temp;
      });
  }
};
</script>
