<template>
  <section id="testimonial" class="section">
    <div class="container">
      <div class="section-header">
        <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">
          Reviews
        </p>
        <h2 class="section-title">Clients Who Loved Us</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
          <div id="testimonials" class="touch-slider owl-carousel">
            <div class="item">
              <div class="testimonial-item">
                <div class="author">
                  <div class="img-thumb">
                    <img src="img/testimonial/img1.png" alt="" />
                  </div>
                </div>
                <div class="content-inner">
                  <p class="description">
                    Appropriately implement one-to-one catalysts for change
                    vis-a-vis wireless catalysts for change. Enthusiastically
                    architect adaptive. Appropriately implement one-to-one
                    catalysts for change vis-a-vis wireless catalysts for
                    change. Enthu.
                  </p>
                  <div class="author-info">
                    <h2><a href="#">Mark Parker</a></h2>
                    <span>UIdeck</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="author">
                  <div class="img-thumb">
                    <img src="img/testimonial/img2.png" alt="" />
                  </div>
                </div>
                <div class="content-inner">
                  <p class="description">
                    Appropriately implement one-to-one catalysts for change
                    vis-a-vis wireless catalysts for change. Enthusiastically
                    architect adaptive. Appropriately implement one-to-one
                    catalysts for change vis-a-vis wireless catalysts for
                    change. Enthu.
                  </p>
                  <div class="author-info">
                    <h2><a href="#">Mark Parker</a></h2>
                    <span>Tesla Motors</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="author">
                  <div class="img-thumb">
                    <img src="img/testimonial/img3.png" alt="" />
                  </div>
                </div>
                <div class="content-inner">
                  <p class="description">
                    Appropriately implement one-to-one catalysts for change
                    vis-a-vis wireless catalysts for change. Enthusiastically
                    architect adaptive. Appropriately implement one-to-one
                    catalysts for change vis-a-vis wireless catalysts for
                    change. Enthu.
                  </p>
                  <div class="author-info">
                    <h2><a href="#">Mark Parker</a></h2>
                    <span>Envato Customer</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="author">
                  <div class="img-thumb">
                    <img src="img/testimonial/img2.png" alt="" />
                  </div>
                </div>
                <div class="content-inner">
                  <p class="description">
                    Appropriately implement one-to-one catalysts for change
                    vis-a-vis wireless catalysts for change. Enthusiastically
                    architect adaptive. Appropriately implement one-to-one
                    catalysts for change vis-a-vis wireless catalysts for
                    change. Enthu.
                  </p>
                  <div class="author-info">
                    <h2><a href="#">Mark Parker</a></h2>
                    <span>GrayGris Inc.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="author">
                  <div class="img-thumb">
                    <img src="img/testimonial/img1.png" alt="" />
                  </div>
                </div>
                <div class="content-inner">
                  <p class="description">
                    Appropriately implement one-to-one catalysts for change
                    vis-a-vis wireless catalysts for change. Enthusiastically
                    architect adaptive. Appropriately implement one-to-one
                    catalysts for change vis-a-vis wireless catalysts for
                    change. Enthu.
                  </p>
                  <div class="author-info">
                    <h2><a href="#">- Alex Dattilo</a></h2>
                    <span>CEO Optima Inc</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Testimonial"
};
</script>
