<template>
  <section
    class="video-promo section"
    v-bind:style="{ backgroundImage: bgGrad }"
  >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="video-promo-content text-center">
            <a :href="link" class="video-popup" target="_blank"
              ><i class="lni-play"></i
            ></a>
            <h2
              class="mt-3 wow zoomIn"
              data-wow-duration="1000ms"
              data-wow-delay="100ms"
            >
              Watch Promo Video
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "VideoPromo",
  props: {
    link: {},
    bgGrad: {}
  }
};
</script>

<style scoped>
.video-popup {
  cursor: pointer;
  text-decoration: none;
}
</style>
