<template>
  <div class="add-app">
    <b-container fluid>
      <div class="card">
        <div class="card-header">Add an app</div>
        <b-form class="card-body input-group" inline @submit.prevent="addApp">
          <label class="sr-only" for="descField">Apple ID</label>
          <b-input
            class="mr-sm-2 my-sm-0 form-input"
            id="descField"
            placeholder="Enter app's apple id..."
            v-model="appleId"
          />
          <span class="input-group-btn">
            <b-button :disabled="!hasAppleId" @click="addApp">Add App</b-button>
          </span>
        </b-form>
      </div>
    </b-container>
  </div>
</template>

<script>
import store from "app-store-scraper";
import firebase from "firebase";

export default {
  name: "AddApp",
  data() {
    return {
      appleId: ""
    };
  },
  computed: {
    hasAppleId() {
      return this.appleId == "" ? false : true;
    }
  },
  methods: {
    addApp() {
      if (this.hasAppleId) {
        this.$Progress.start();
        store.app({ id: this.appleId }).then((app, error) => {
          if (error) {
            this.$toasted.show("Invalid ID!", { type: "error" });
            this.$Progress.finish();
            this.appleId = "";
            return;
          }
          // console.log(app);
          firebase
            .database()
            .ref("apps/" + app.id)
            .set(JSON.parse(JSON.stringify(app)));
          this.$Progress.finish();
          this.$toasted.show("App added to collection", { type: "success" });
          this.addColorForApp(app);
        });
      } else {
        this.$toasted.show("Enter an app id", { type: "error" });
      }
    },
    addColorForApp(app) {
      this.$Progress.start();
      var request = require("request"),
        apiKey = "acc_5e4967d8e23e564",
        apiSecret = "fe0a0daa4125b74dacd235d40ce8480c";
      request
        .get(
          "https://api.imagga.com/v2/colors?image_url=" +
            encodeURIComponent(app.icon),
          function(error, response, body) {
            console.log("Status:", response.statusCode);
            console.log("Headers:", JSON.stringify(response.headers));
            // console.log("Response:", body);
            firebase
              .database()
              .ref("colors/" + app.id)
              .set(JSON.parse(body));
            this.$Progress.finish();
            this.$toasted.show("App icon's colors were saved!", {
              type: "success"
            });
          }
        )
        .auth(apiKey, apiSecret, true);
    }
  }
};
</script>

<style scoped>
.add-app {
  margin: 2rem;
}
</style>
