<template>
  <div class="appCards">
    <b-container fluid>
      <b-card header="iOS Apps" align="center">
        <div class="card-text">
          <b-card-group columns v-if="hasApps">
            <b-card
              v-for="app in apps"
              :key="app.id"
              :img-src="app.icon"
              :img-alt="app.title"
              img-top
              class="m-2 p-0"
              :title="app.title"
              :sub-title="app.primaryGenre"
            >
              <p class="card-text">
                <em>ID : {{ app.id }}</em>
                <br />
                <b-link
                  :to="{ name: 'AppDetails', params: { app: app } }"
                  variant="info"
                >
                  Details
                </b-link>
                |
                <b-link
                  :to="{ name: 'FrontLand', params: { appleid: app.id } }"
                  target="_blank"
                  variant="info"
                >
                  To Front
                </b-link>
              </p>
            </b-card>
          </b-card-group>
          <p v-else>
            <em>Loading apps!</em>
          </p>
        </div>
      </b-card>
    </b-container>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  name: "AppCards",
  data() {
    return {
      apps: []
    };
  },
  created() {
    this.$Progress.start();
    firebase
      .database()
      .ref("/")
      .on("value", snapshot => {
        console.log("Data Updated!");
        this.apps = snapshot.val().apps;
        this.$Progress.finish();
      });
  },
  computed: {
    hasApps() {
      return Object.keys(this.apps).length > 0 ? true : false;
    }
  },
  methods: {}
};
</script>

<style scoped>
.appCards {
  margin: 2rem;
}
</style>
