<template>
  <div class="appJumbo m-3">
    <b-jumbotron fluid class="jumbo-tr">
      <template slot="header">
        <b-img
          rounded="circle"
          thumbnail
          fluid
          :src="photoLink"
          class="m-1 w-25"
        /><br />
        {{ title }}
      </template>
      <template slot="lead">
        {{ genreStr }}
      </template>
      <hr class="my-4" />
      <h2>Description</h2>
      <pre class="format-text">{{ description }}</pre>
      <hr class="mb-4" />
      <h2>Release Notes</h2>
      <em>Released : {{ relDate }} | Updated : {{ updDate }}</em>
      <pre class="format-text">{{ relNotes }}</pre>
      <b-button-group class="store-button">
        <b-btn variant="primary" :href="storeUrl" target="_blank"
          >Visit App Store</b-btn
        >
      </b-button-group>
    </b-jumbotron>
  </div>
</template>

<script>
export default {
  name: "AppJumbo",
  props: {
    title: {},
    photoLink: {},
    description: {},
    storeUrl: {},
    genres: {},
    relNotes: {},
    releaseDate: {},
    updateDate: {}
  },
  computed: {
    genreStr: function() {
      return this.$props.genres.join(", ");
    },
    relDate() {
      return this.formatDate(this.releaseDate);
    },
    updDate() {
      return this.formatDate(this.updateDate);
    }
  },
  methods: {
    formatDate(tempDate) {
      // var date = tempDate.substr(0, 10);
      // var time = tempDate.substr(11, 19);
      // return date + " " + time;
      var date = new Date(tempDate);
      return date.toLocaleString();
    }
  }
};
</script>

<style scoped>
.jumbo-tr {
  /* background: aliceblue; */
  background-image: linear-gradient(aliceblue, antiquewhite);
}

pre.format-text {
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  white-space: pre-wrap;
  word-break: break-word;
}

.store-button {
  margin-top: 20pt;
  margin-bottom: 0pt;
}
</style>
