<template>
  <fab
    position="bottom-left"
    bg-color="#17a2b8"
    :actions="fabActions"
    @appredirect="openAppLanding"
    tooltip="Page Actions"
  ></fab>
</template>

<script>
import fab from "vue-fab";

export default {
  name: "AppLinkFab",
  props: {
    appid: {}
  },
  components: {
    fab
  },
  data() {
    return {
      fabActions: [
        {
          name: "appredirect",
          icon: "tab",
          tooltip: "Open Landing Page"
        }
      ]
    };
  },
  methods: {
    openAppLanding() {
      let linkData = this.$router.resolve({
        name: "FrontLand",
        params: {
          appleid: this.appid
        }
      });
      window.open(linkData.href, "_blank");
    }
  }
};
</script>
