<template>
  <div class="appScreenshots">
    <b-container class="section-scr" fluid>
      <h1>Screenshots</h1>
      <b-card-group class="deck" deck>
        <b-card
          v-for="link in links"
          :key="link"
          overlay
          :img-src="link"
          img-top
          class="mb-2"
          title=""
          sub-title=""
        >
        </b-card>
      </b-card-group>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "AppScreenshots",
  props: {
    links: {}
  }
};
</script>

<style scoped>
.section-scr {
  margin-top: 3rem;
}

.deck {
  margin-top: 1rem;
}
</style>
