<template>
  <div class="featureListForm">
    <b-container class="section-features" fluid>
      <h1>Features</h1>
      <em>(Maximum 6 features)</em>
      <b-list-group class="w-100">
        <transition-group name="slideUp" tag="ul">
          <b-list-group-item v-for="(value, key) in descriptions" :key="value">
            {{ value }}
            <b-btn-close @click="removeDesc(key)"></b-btn-close>
          </b-list-group-item>
        </transition-group>
      </b-list-group>
      <b-form
        class="mr-sm-2 my-sm-4 input-group"
        inline
        @submit.prevent="addDescription"
      >
        <label class="sr-only" for="descField">Name</label>
        <b-input
          :disabled="!canAddDescription"
          class="mr-sm-2 my-sm-0 form-input"
          id="descField"
          :placeholder="
            canAddDescription
              ? 'Write feature...'
              : 'Maximum features added! Delete one to add another'
          "
          v-model="descriptionText"
        />
        <span class="input-group-btn">
          <b-button :disabled="!canAddDescription" @click="addDescription"
            >Add</b-button
          >
        </span>
      </b-form>
    </b-container>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  name: "FeatureListForm",
  props: {
    appid: {}
  },
  data() {
    return {
      descriptionText: "",
      descriptions: {}
    };
  },
  mounted() {
    console.log("Features fetched!");
    firebase
      .database()
      .ref("features/" + this.appid)
      .on("value", snapshot => {
        // console.log(Object.keys(snapshot.val()).length);
        this.descriptions = snapshot.val() == null ? {} : snapshot.val();
        // console.log(this.descriptions);
      });
  },
  computed: {
    canAddDescription() {
      return Object.keys(this.descriptions).length < 6 ? true : false;
    }
  },
  methods: {
    addDescription() {
      if (this.canAddDescription) {
        var pushRef = firebase
          .database()
          .ref("features/" + this.appid)
          .push();
        pushRef.set(this.descriptionText);
      } else {
        alert("Maximum features added!");
      }
      this.descriptionText = "";
    },
    removeDesc(key) {
      if (confirm("Are you sure you want to delete it?")) {
        firebase
          .database()
          .ref("features/" + this.appid + "/" + key)
          .remove();
      } else {
        return;
      }
    }
  }
};
</script>

<style scoped>
.section-features {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
</style>
