<template>
  <div>
    <b-card class="member-wrapper" title="Team Members" sub-title="InfancyIT">
      <b-link
        :to="{ name: 'MemberDetails', params: { memberId: '' } }"
        class="card-link pull-right"
        >Add a member</b-link
      >
      <div class="card-text">
        <b-card-group deck class="mb-3" v-if="members.length > 0">
          <b-card
            v-for="member in members"
            :key="member.gravatarMail"
            :img-src="getGravatarLink(member.gravatarMail)"
            :img-alt="member.name"
            img-top
            class="mb-2"
            :title="member.name"
            :sub-title="member.designation"
          >
            <p class="card-text">
              <b-link
                :to="{
                  name: 'MemberDetails',
                  params: { memberId: member.key }
                }"
                class="card-link"
                >Details</b-link
              >
            </p>
          </b-card>
        </b-card-group>
        <p v-else>
          <em>Loading Members...</em>
        </p>
      </div>
    </b-card>
  </div>
</template>

<style scoped>
.member-wrapper {
  margin: 1.2rem;
}
</style>

<script>
import firebase from "firebase";

export default {
  name: "TeamMembers",
  data() {
    return {
      members: []
    };
  },
  mounted() {
    firebase
      .database()
      .ref("Team/")
      .on("value", snapshot => {
        var temp = [];
        snapshot.forEach(child => {
          var item = child.val();
          item["key"] = child.key;
          temp.push(item);
        });

        // console.log(temp);
        this.members = temp;
      });
  },
  methods: {
    getGravatarLink: function(mail) {
      var md5 = require("blueimp-md5");
      return "http://www.gravatar.com/avatar/" + md5(mail) + ".jpg?s=300";
    }
  }
};
</script>
