<template>
  <b-container class="section-vid" fluid>
    <h1>Video Promo</h1>
    <b-form inline @submit.prevent="updateURL" class="input-group">
      <label class="sr-only" for="videoUrlField">Video Promo URL</label>
      <b-input
        class="mb-2 mr-2 form-input"
        id="videoUrlField"
        placeholder="Paste the video link here..."
        v-model="videoUrl"
      />
      <span class="input-group-btn">
        <b-button @click="updateURL">Update</b-button>
      </span>
    </b-form>
  </b-container>
</template>

<style scoped>
.section-vid {
  margin-top: 0rem;
  margin-bottom: 2rem;
}
</style>

<script>
import firebase from "firebase";

export default {
  name: "VideoForm",
  props: {
    appid: {}
  },
  data() {
    return {
      videoUrl: ""
    };
  },
  mounted() {
    firebase
      .database()
      .ref("PromoLinks/" + this.appid)
      .on("value", snapshot => {
        // console.log(Object.keys(snapshot.val()).length);
        this.videoUrl = snapshot.val().url == null ? "" : snapshot.val().url;
        console.log("Snap: " + snapshot.val());
        console.log(this.videoUrl);
      });
  },
  methods: {
    updateURL() {
      if (confirm("Update the video url?")) {
        if (this.videoUrl !== "") {
          firebase
            .database()
            .ref("PromoLinks/" + this.appid)
            .set({
              url: this.videoUrl
            });
          this.$toasted.show("Updated Promo URL!", { type: "success" });
        } else {
          alert("Please insert a link to update URL");
        }
      } else {
        return;
      }
    }
  }
};
</script>
