<template>
  <div id="app">
    <Navbar v-if="isLoggedIn && !isLanding && !isErrorPage"></Navbar>
    <router-view />
    <vue-progress-bar></vue-progress-bar>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import firebase from "firebase";

export default {
  data() {
    return {
      isLoggedIn: false
    };
  },
  components: {
    Navbar
  },
  computed: {
    isLanding: function() {
      return this.$route.matched.some(record => record.meta.landing)
        ? true
        : false;
    },
    isErrorPage: function() {
      return this.$route.matched.some(record => record.meta.errorpage)
        ? true
        : false;
    }
  },
  mounted() {
    this.$Progress.finish();
    firebase.auth().onAuthStateChanged(user => {
      this.isLoggedIn = user == null ? false : true;
    });
  },
  created() {
    this.$Progress.start();

    this.$router.beforeEach((to, from, next) => {
      if (to.meta.progress !== undefined) {
        let meta = to.meta.progress;
        this.$Progress.parseMeta(meta);
      }
      this.$Progress.start();
      next();
    });

    this.$router.afterEach(() => {
      this.$Progress.finish();
    });
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
